body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#burger-component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote-space {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.burgersection {
  display: flex;
  flex-direction: row;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 1px 0px 10px 1px;
}

#burger-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.notecard {
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 100px;
}

#nav {
  background-color: lavender;
  width: 100vw;
  height: 100px;
  margin: 0px 0px 0px 0px;
  padding: 0;
  display: flex;
}

#name {
  font-family: 'Franklin Gothic Medium';
  font-weight: bolder;
  font-style: italic;
}

#help {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

#item-box {
  display: flex;
  background-color: white;
  border: 2px solid black;
  margin: 50px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: lavender;
}

#newburger {
  width: 200px;
  height: 100px;
  margin: 250px 0px 10px 1px;
}

#spoon-box {
  display: flex;
  background-color: white;
  border: 2px solid black;
  margin: 50px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: lavender;
}

#component-container {
  display: flex;
  align-items: flex-start;
}

#spoon-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px
}

#spoon {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: grey;
  border: 2px solid black;
  margin: 10px;
  align-items: center;
}